*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1440px;
  height: 100%;
  margin: auto;
}

/* Section Title font-styles */
.playfair {
  font-family: 'Playfair Display', serif;
  font-size: 3rem;
  margin: 18px 0 27px 18px;
}

/* Paragraph font-styles */
.poppins {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 21px;
}

/* +++++++++++++++++ Header +++++++++++++++++++++++ */
header {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  justify-content: space-between;
}

/***************** nav-bar ****************/

nav {
  display: flex;
  width: 100%;
  height: fit-content;
  justify-content: space-between;
}

.logo {
  position: relative;
  width: 111px;
  height: 74px;
  background: url('./images/deco/mobil/nav-logo.svg');
}

.nav-items-container {
  display: none;
}

.nav-item {
  text-align: center;
  font-size: 120%;
}

.nav-link {
  text-decoration: none;
}

.nav-link:hover {
  text-decoration: underline;
  color: #1a2236;
}

.nav-link:visited {
  color: #7d7c84;
}

/* Display Menu Button */

.toggle {
  display: none;
}

.menu-button-container {
  display: flex;
  position: relative;
  width: 37px;
  height: 37px;
  margin-right: 15px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background: #292929;
  position: absolute;
  width: 20px;
  height: 2px;
  top: 25px;
  border-radius: 3px;
  cursor: pointer;
}

.menu-button::before {
  content: '';
  top: -6px;
  left: 0;
}

.menu-button::after {
  content: '';
  top: 6px;
  left: 0;
}

/****** Headline ********/

.headline-container {
  display: flex;
  flex-direction: column;
  padding: 18px;
}

.headline-title {
  max-width: 220px;
  font-weight: 400;
  line-height: 100%;
  margin: 18px 0 0 0;
}

.headline-paragraph {
  letter-spacing: -0.01em;
  color: #1a2236;
  margin: 27px 0;
}

.start-colaboration {
  align-self: center;
  margin: 15px 0;
  border-style: none;
  width: 100%;
  height: 60px;
  color: #fff;
  font-style: normal;
  font-weight: 500;
  font-size: 1.2rem;
  text-align: center;
  background: #1a2236;
  cursor: pointer;
}

.start-colaboration:hover {
  color: #1a2236;
  background-color: #fff;
  border: 2px solid gray;
}

.start-colaboration:active {
  background-color: #fff;
  border-color: #1a2236;
  color: #1a2236;
}

.shapes-design-container {
  margin: 15px 0;
  width: 100%;
  height: 53.333vw;
  background: url('./images/image_geometry_2.svg') no-repeat;
  background-size: contain;
}

/*************** Start Main Secction *****************/

main {
  position: relative;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
}

/*********** Work Section ************/

.work-container {
  position: relative;
  display: grid;
  gap: 0;
  width: 100%;
  height: fit-content;
  grid-template-rows: repeat(7, auto);
}

.thumbnail-container {
  display: flex;
  flex-direction: column;
  height: fit-content;
}

.thum-img {
  width: 100%;
}

.show-hide {
  background-color: #1a2236;
}

.thum-title {
  font-size: 150%;
  margin: 18px;
  color: white;
  font-weight: lighter;
}

.thum-langs-container {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin-inline: 18px;
}

.thum-lang {
  position: relative;
  display: inline-block;
  padding: 3px 9px;
  margin-right: 12px;
  margin-bottom: 3px;
  background-color: #98dede;
  border-style: none;
  font-size: 90%;
}

.plus {
  display: none;
}

.button-link {
  width: fit-content;
}

button {
  color: white;
  background-color: #1a2236;
  border: 2px solid white;
  font-size: 50%;
  cursor: pointer;
  transition: all 0.25s ease-out;
}

button:hover {
  background-color: white;
  color: #1a2236;
  border: 2px solid #1a2236;
}

button:active {
  background-color: #fff;
  border-color: gray;
  color: #1a2236;
}

.see-project {
  width: fit-content;
  margin: 24px 18px;
  padding: 9px 30px;
  font-size: 1rem;
}

/*************** About section ****************/

.about-container {
  position: relative;
  display: grid;
  margin: 0;
  padding: 18px;
}

.getCv-button {
  width: 100%;
  border-style: none;
  padding-block: 18px;
  margin: 24px 0;
  border: 2px solid #1a2236;
  font-size: 1.2rem;
}

.download-icon-1 {
  position: relative;
  top: 6px;
  left: 18px;
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-right: 24px;
  background: url('./images/icons/download-icon-1.svg') no-repeat;
  background-size: contain;
}

.cards-list {
  list-style: none;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-block: 18px;
  padding: 60px 0 0 60px;
  color: white;
}

.about-card-title {
  font-size: 1.62rem;
  font-weight: bolder;
  margin-block: 18px 54px;
}

.about-card-list {
  font-size: 1.35rem;
  font-weight: 600;
  line-height: 36px;
  list-style: inside circle;
  list-style-type: disc;
  margin-bottom: 60px;
}

.languages {
  background: #1c528a;
}

.l {
  margin-bottom: 90px;
}

.lang-cont {
  position: absolute;
  bottom: 0;
  right: -13%;
  width: 30%;
  height: 30%;
  background: url('./images/lang.svg') no-repeat;
  background-size: contain;
  opacity: 0.6;
}

.frameworks {
  background: #e2505c;
}

.frame-cont {
  position: absolute;
  bottom: 0;
  right: -13.5%;
  width: 30%;
  height: 30%;
  background: url('./images/Frameworks.svg') no-repeat;
  background-size: contain;
  opacity: 0.6;
}

.skills {
  background: #febf52;
}

.skills-cont {
  position: absolute;
  bottom: 0;
  right: -13%;
  width: 30%;
  height: 30%;
  background: url('./images/ic_skills.svg') no-repeat;
  background-size: contain;
  opacity: 0.6;
}

/******* Contact form ********/

.contact-form {
  display: flex;
  flex-direction: column;
  background-color: #f9f9fa;
  width: 100%;
  padding-bottom: 36px;
}

.form-deco-1 {
  position: relative;
  width: 111px;
  height: 74px;
  background: url('./images/deco/mobil/nav-logo.svg');
}

.form-title {
  margin: 30px 18px;
  font-size: 3.6rem;
}

.contact-form p {
  margin: 18px;
}

.contact-form form {
  display: flex;
  flex-direction: column;
  padding: 18px;
}

.contact-form form ul li {
  list-style: none;
  margin: 9px 0;
}

.form-input-container {
  position: relative;
  border: 1px solid #dfdfe0;
  border-radius: 4px;
  padding: 0;
}

.form-input-container label {
  position: absolute;
  color: #7d7c84;
  margin: 3px 18px;
  font-size: 0.8rem;
}

.form-input-container input {
  border: none;
  border-radius: 4px;
  outline: 0;
  font-size: 1rem;
  padding: 27px 18px 9px 18px;
  width: 100%;
}

.message {
  padding: 18px;
  width: 100%;
  border: 1px solid #dfdfe0;
  border-radius: 4px;
  outline: none;
}

.message::placeholder {
  color: #7d7c84;
}

.form-input-container input:focus,
.message:focus {
  border: 1px solid #1a2236;
}

footer {
  background-color: #1a2236;
  width: 100%;
  padding: 18px;
}

.start-link {
  display: inline-block;
  margin-block: 18px;
  font-size: 1rem;
  text-decoration: none;
  color: #92dcdc;
}

.download-icon {
  position: relative;
  top: 6px;
  left: 18px;
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url('./images/icons/download-icon.svg') no-repeat;
  background-size: contain;
}

.social-icons-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 18px 0;
  margin-bottom: 18px;
  list-style: none;
}

.soc-icon {
  display: inline-block;
  color: white;
  background-size: contain;
  width: 24px;
  height: 24px;
}

.stack {
  background: url('/images/icons/ic_stackoverflow.svg') no-repeat;
}

.github {
  background: url('./images/icons/github-icon.svg');
}

.twitter {
  background: url('./images/icons/ic_twitter.svg');
}

.linkedin {
  background: url('./images/icons/ic_linkedin.svg') no-repeat;
}

.m {
  position: relative;
  top: 3px;
  width: 30px;
  height: 30px;
  background: url('./images/icons/M-icon.svg') no-repeat;
}

.pnl {
  width: 30px;
  height: 30px;
  background: url('./images/icons/pnl-icon.svg') no-repeat;
}

/*************** Key Frames ******************/

@media screen and (min-width: 768px) {
  header {
    display: grid;
    grid-template-areas:
      'nav nav'
      'headline figure';
    margin-bottom: 1rem;
  }

  nav {
    grid-area: nav;
    height: 75px;
    border-bottom: 1px solid #dfdfe0;
  }

  .logo,
  .menu-button-container {
    display: none;
  }

  .nav-items-container {
    display: flex;
    width: 100%;
    flex-direction: row;
    list-style: none;
    justify-content: center;
  }

  .nav-item {
    margin: 18px;
  }

  /*** Headline Section ***/

  .headline-container {
    grid-area: headline;
    padding-inline: 54px;
    justify-content: center;
  }

  .headline-title {
    font-size: 900%;
    margin-bottom: 18px;
  }

  .headline-paragraph {
    font-size: 120%;
  }

  .start-colaboration {
    width: fit-content;
    font-size: 120%;
    padding-inline: 36px;
    margin-top: 21px;
  }

  .shapes-design-container {
    grid-area: figure;
    margin: 0;
    width: 48.75vw;
    height: 60.89vw;
    background: url('./images/deco/desktop/image-geometry_1.svg') no-repeat;
    background-size: contain;
  }

  .eight-dots {
    position: relative;
    top: calc(60.89vw - 20%);
    left: -25%;
    width: 25%;
    height: 20%;
    background: url('./images/deco/desktop/eight_dots.svg') no-repeat;
    background-size: contain;
  }

  /*** Work Section ***/

  .work-container {
    margin-top: 6rem;
    width: 100%;
    max-width: 1440px;
    height: 87.6445vw;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 0;
    margin-bottom: 30vw;
  }

  .work-title {
    position: relative;
    transform: rotate(-90deg);
    grid-area: 2 / 1 / 1 / 2;
    height: fit-content;
    margin: 0;
    font-size: 6.3vw;
    bottom: -6%;
    left: -9%;
  }

  .seven-dots {
    position: relative;
    grid-area: 1 / 2 / 2 / 2;
    left: -11.8vw;
    top: 3px;
    background: url('./images/deco/desktop/seven_dots.svg') no-repeat;
    background-size: contain;
    width: 12.1527vw;
    height: 12.1527vw;
  }

  .thum-img {
    position: relative;
  }

  .tn1 {
    position: relative;
    grid-area: 1 / 2 / 2 / 4;
    width: 66.6vw;
    height: 38.75vw;
  }

  .tn2 {
    position: relative;
    grid-area: 2 / 1 / 3 / 2;
    width: 32.3vw;
    margin-top: 18%;
    top: 1%;
  }

  .center-shape {
    position: relative;
    grid-area: 2 / 2 / 3 / 3;
    width: 35.5vw;
    background: url('./images/deco/desktop/image-geometry_work-center.svg')
      no-repeat;
    background-size: contain;
    top: 1.5%;
    z-index: -1;
  }

  .tn3 {
    position: relative;
    grid-area: 3 / 1 / 4 / 2;
    width: 172.3%;
    top: -0.7%;
  }

  .left-shape {
    position: relative;
    grid-area: 4 / 1 / 5 / 2;
    top: -1.7%;
    background: url('/images/deco/desktop/image-geometry_work-left.svg')
      no-repeat;
    background-size: contain;
    width: 55.55%;
  }

  .drop {
    position: relative;
    grid-area: 4 / 1 / 5 / 2;
    background: url('./images/deco/desktop/single_drop.svg') no-repeat;
    background-size: contain;
    width: 7vw;
    top: -1.7%;
    left: 150.3%;
  }

  .tn4 {
    position: relative;
    grid-area: 4 / 3 / 5 / 4;
    left: -28.2%;
    top: -2.4%;
    width: 32.3vw;
    z-index: 1;
  }

  .right-shape {
    position: relative;
    grid-area: 3 / 3 / 4 / 4;
    background: url('./images/deco/desktop/image-geometry_work-right.svg')
      no-repeat;
    background-size: contain;
    top: 41.4%;
    left: -28.5%;
    width: 43.3vw;
  }

  .tn5 {
    position: relative;
    grid-area: 2 / 3 / 3 / 4;
    width: 31.5vw;
    top: 80%;
    z-index: 1;
  }

  .tn6 {
    position: relative;
    grid-area: 2 / 3 / 3 / 4;
    width: 31.5vw;
    top: 1%;
  }

  /*** Thumbnail Show-Hide ***/

  .show-hide {
    position: absolute;
    width: 100%;
    max-height: 100%;
    display: none;
    bottom: 0;
    z-index: 2;
  }

  .thumbnail-container:hover .show-hide {
    display: block;
  }

  .thum-title {
    font-size: 120%;
    font-weight: 600;
    margin-block: 3%;
  }

  .thum-lang {
    font-size: 70%;
  }

  .js {
    display: none;
  }

  .plus {
    display: inline-block;
    padding-top: 3%;
  }

  .plus::after {
    content: '+1';
  }

  .see-project {
    background-color: white;
    color: #1a2236;
    font-size: 90%;
    margin: 1% 9% 2% 18px;
    padding: 1% 3%;
  }

  /************** About Section ***************/

  .about-container {
    grid-template-columns: 50% 45%;
    text-align: left;
    gap: 5%;
    margin: 0 9%;
    padding: 0;
  }

  .about-text-cont {
    grid-area: 1 / 2 / 2 / 3;
    width: 100%;
  }

  .about-title {
    font-size: 450%;
  }

  .about-paragraph {
    margin-left: 18px;
  }

  .getCv-button {
    margin-left: 18px;
    padding-inline: 18px;
    width: fit-content;
  }

  .cards-container {
    grid-area: 1 / 1 / 2 / 2;
    width: 100%;
    height: 40vw;
    display: grid;
    grid-template-areas:
      'langs frames'
      'skills deco';
  }

  .cards-list {
    height: 20vw;
  }

  .card {
    width: 100%;
    margin: 0;
    padding: 15%;
    height: 100%;
  }

  .about-card-title {
    font-size: 120%;
    margin: 9% 0 18% -3%;
  }

  .about-card-list {
    font-size: 0.6rem;
    line-height: 150%;
    margin: 0;
  }

  .languages {
    grid-area: langs;
  }

  .lang-cont {
    right: 0;
  }

  .frameworks {
    grid-area: frames;
  }

  .frame-cont {
    right: -1%;
  }

  .skills {
    grid-area: skills;
  }

  .skills-cont {
    right: 0;
  }

  .about-deco {
    grid-area: deco;
    position: relative;
    background: url('./images/deco/desktop/about-deco.svg') no-repeat;
    background-size: contain;
    width: 80%;
    top: 20%;
    left: 20%;
  }

  /******* Contact form ********/

  .contact-form {
    position: relative;
    display: grid;
    margin-top: 10vw;
    align-items: center;
    text-align: center;
    padding: 0;
    grid-template-areas:
      'deco-1 title .'
      '. form-p .'
      '. form .'
      '. . deco-2';
  }

  .form-deco-1 {
    grid-area: deco-1;
    align-self: flex-start;
    width: 18.45vw;
    height: 24.3vw;
    background: url('./images/deco/desktop/form-deco-1.svg') no-repeat;
    background-size: cover;
  }

  .form-title {
    grid-area: title;
    font-size: 450%;
    margin: 9vw 0 3vw 0;
  }

  .contact-form p {
    grid-area: form-p;
    margin: 3% 9vw;
    padding: 0;
    text-justify: distribute;
  }

  .contact-form form {
    grid-area: form;
    padding: 0;
    margin: 0;
    justify-self: center;
  }

  .form-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .form-input-container {
    width: 48%;
  }

  .form-deco-2 {
    grid-area: deco-2;
    position: relative;
    align-self: flex-end;
    width: 24.3vw;
    height: 24.3vw;
    margin-top: -9vw;
    background: url('./images/deco/desktop/form-deco-2.svg') no-repeat;
    background-size: contain;
  }

  /******* Footer ******/

  footer {
    display: flex;
    justify-content: space-around;
  }

  .social-icons-container {
    width: 33%;
    margin: 0;
  }
}

@media screen and (min-width: 970px) {
  .js {
    display: inline-block;
  }

  .plus {
    display: none;
  }
}
