*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1440px;
  height: 100%;
  margin: auto;
}

/* Section Title font-styles */
.playfair {
  font-family: 'Playfair Display', serif;
  font-size: 3rem;
  margin: 18px 0 27px 18px;
}

/* Paragraph font-styles */
.poppins {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 21px;
}

/* +++++++++++++++++ Header +++++++++++++++++++++++ */
header {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  justify-content: space-between;
}

/***************** nav-bar ****************/

nav {
  display: flex;
  width: 100%;
  height: fit-content;
  justify-content: space-between;
}

.logo {
  position: relative;
  width: 111px;
  height: 74px;
  background: url('images/deco/mobil/nav-logo.svg');
}

.nav-items-container {
  display: none;
}

.nav-item {
  text-align: center;
}

.nav-link {
  text-decoration: none;
}

/* Display Menu Button */

.toggle {
  display: none;
}

.menu-button-container {
  display: flex;
  position: relative;
  width: 37px;
  height: 37px;
  margin-right: 15px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background: #292929;
  position: absolute;
  width: 20px;
  height: 2px;
  top: 25px;
  border-radius: 3px;
  cursor: pointer;
}

.menu-button::before {
  content: '';
  top: -6px;
  left: 0;
}

.menu-button::after {
  content: '';
  top: 6px;
  left: 0;
}

/****** Headline ********/

.headline-container {
  display: flex;
  flex-direction: column;
  padding: 18px;
}

.headline-title {
  max-width: 220px;
  font-weight: 400;
  line-height: 100%;
  margin: 18px 0 0 0;
}

.headline-paragraph {
  letter-spacing: -0.01em;
  color: #1a2236;
  margin: 27px 0;
}

.start-colaboration {
  align-self: center;
  margin: 15px 0;
  border-style: none;
  width: 100%;
  height: 60px;
  color: #fff;
  font-style: normal;
  font-weight: 500;
  font-size: 1.2rem;
  text-align: center;
  background: #1a2236;
  cursor: pointer;
}

.start-colaboration:hover {
  color: #1a2236;
  background-color: #fff;
  border: 2px solid gray;
}

.start-colaboration:active {
  background-color: #fff;
  border-color: #1a2236;
  color: #1a2236;
}

.shapes-design-container {
  margin: 15px 0;
  width: 100%;
  height: 53.333vw;
  background: url('/images/image_geometry_2.svg') no-repeat;
  background-size: contain;
}

/*************** Start Main Secction *****************/

main {
  position: relative;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
}

/*********** Work Section ************/

.work-container {
  display: grid;
  gap: 0;
  width: 100%;
  height: fit-content;
  grid-template-rows: repeat(7, auto);
}

.thumbnail-container {
  display: flex;
  flex-direction: column;
  height: fit-content;
}

.show-hide {
  background-color: #1a2236;
}

.thum-title {
  margin: 18px;
  font-size: 1.5rem;
  color: white;
  font-weight: lighter;
}

.thum-langs-container {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin-inline: 18px;
}

.thum-lang {
  position: relative;
  display: inline-block;
  padding: 3px 9px;
  margin-right: 12px;
  background-color: #98dede;
  border-style: none;
}

.button-link {
  width: fit-content;
}

button {
  color: white;
  background-color: #1a2236;
  border: 2px solid white;
  cursor: pointer;
  transition: all 0.25s ease-out;
}

button:hover {
  background-color: white;
  color: #1a2236;
  border: 2px solid #1a2236;
}

button:active {
  background-color: #fff;
  border-color: gray;
  color: #1a2236;
}

.see-project {
  width: fit-content;
  margin: 24px 18px;
  padding: 9px 30px;
  font-size: 1rem;
}

/*************** About section ****************/

.about-container {
  display: grid;
  margin: 0;
  padding: 18px;
}

.getCv-button {
  border-style: none;
  padding-block: 18px;
  margin: 24px 0;
  border: 2px solid #1a2236;
  font-size: 1.2rem;
}

.fas {
  margin-left: 18px;
}

.cards-list {
  list-style: none;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-block: 18px;
  padding: 60px 0 0 60px;
  color: white;
}

.about-card-title {
  font-size: 1.62rem;
  font-weight: bolder;
  margin-block: 18px 54px;
}

.about-card-list {
  font-size: 1.35rem;
  font-weight: 600;
  line-height: 36px;
  list-style: inside circle;
  list-style-type: disc;
  margin-bottom: 60px;
}

.languages {
  background: #1c528a;
}

.l {
  margin-bottom: 90px;
}

.lang-cont {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 110px;
  max-width: 40%;
  height: 110px;
  background: url('/images/lang.svg') no-repeat;
  background-size: contain;
  opacity: 0.6;
}

.frameworks {
  background: #e2505c;
}

.frame-cont {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 110px;
  max-width: 35%;
  height: 110px;
  background: url('/images/Frameworks.svg') no-repeat;
  background-size: contain;
  opacity: 0.6;
}

.skills {
  background: #febf52;
}

.skills-cont {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 135px;
  max-width: 35%;
  height: 135px;
  background: url('/images/ic_skills.svg') no-repeat;
  background-size: contain;
  opacity: 0.6;
}

/* Contact form */

.contact-form {
  display: flex;
  flex-direction: column;
  background-color: #f9f9fa;
  width: 100%;
  padding-bottom: 36px;
}

.contact-form h2 {
  margin: 30px 18px;
  font-size: 3.6rem;
}

.contact-form p {
  margin: 18px;
}

.contact-form form {
  display: flex;
  flex-direction: column;
  padding: 18px;
}

.contact-form form ul li {
  list-style: none;
  margin: 9px 0;
}

.form-input-container {
  position: relative;
  border: 1px solid #dfdfe0;
  border-radius: 4px;
  padding: 0;
}

.form-input-container label {
  position: absolute;
  color: #7d7c84;
  margin: 3px 18px;
  font-size: 0.8rem;
}

.form-input-container input {
  border: none;
  border-radius: 4px;
  outline: 0;
  font-size: 1rem;
  padding: 27px 18px 9px 18px;
  width: 100%;
}

.message {
  padding: 18px;
  width: 100%;
  border: 1px solid #dfdfe0;
  border-radius: 4px;
  outline: none;
}

.message::placeholder {
  color: #7d7c84;
}

.form-input-container input:focus,
.message:focus {
  border: 1px solid #1a2236;
}

footer {
  background-color: #1a2236;
  width: 100%;
  padding: 18px;
}

.start-link {
  display: inline-block;
  margin-block: 18px;
  font-size: 1rem;
  text-decoration: none;
  color: #92dcdc;
}

.up-right-from-square {
  position: relative;
  top: 6px;
  left: 18px;
  display: inline-block;
  width: 24px;
  height: 24px;
}

svg {
  color: #92dcdc;
}

.social-icons-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 18px 0;
  margin-bottom: 18px;
  list-style: none;
}

.fa {
  color: white;
}

.fa-linkedin {
  color: #1a2236;
  background-color: white;
  padding: 3px 4px;
}

.m {
  position: relative;
  top: 6px;
  width: 30px;
  height: 30px;
  background: url('/images/M.svg') no-repeat;
  background-size: contain;
}

.pnl {
  width: 30px;
  height: 30px;
  background: url('/images/peace-n-love.svg') no-repeat;
  background-size: contain;
}

@media screen and (min-width: 768px) {
  header {
    display: grid;
    grid-template-areas:
      'nav nav'
      'headline figure';
    margin-bottom: 1rem;
  }

  nav {
    grid-area: nav;
    height: 75px;
    border-bottom: 1px solid #dfdfe0;
  }

  .logo,
  .menu-button-container {
    display: none;
  }

  .nav-items-container {
    display: flex;
    width: 100%;
    flex-direction: row;
    list-style: none;
    justify-content: center;
  }

  .nav-item {
    margin: 18px;
  }

  .av-link,
  .nav-link:visited {
    color: #1a2236;
  }

  /*** Headline Section ***/

  .headline-container {
    grid-area: headline;
    padding-inline: 54px;
    justify-content: center;
  }

  .headline-title {
    font-size: 4.5rem;
    margin-bottom: 18px;
  }

  .start-colaboration {
    width: fit-content;
    font-size: 1rem;
    padding-inline: 36px;
    margin-top: 21px;
  }

  .shapes-design-container {
    grid-area: figure;
    margin: 0;
    width: 48.75vw;
    height: 60.89vw;
    background: url('/images/deco/desktop/image-geometry_1.svg') no-repeat;
    background-size: contain;
  }

  .eight-dots {
    position: relative;
    top: calc(60.89vw - 20%);
    left: -25%;
    width: 25%;
    height: 20%;
    background: url('/images/deco/desktop/eight_dots.svg') no-repeat;
    background-size: contain;
  }

  /*** Work Section ***/

  .work-container {
    margin-top: 6rem;
    width: 100vw;
    height: 87.6445vw;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 0;
    margin-bottom: 45vw;
  }

  .thum-img {
    position: relative;
    width: 100%;
  }

  .work-title {
    transform: rotate(-90deg);
    grid-area: 1 / 1 / 2 / 2;
    height: fit-content;
    width: 33.333vw;
    margin: 0;
    font-size: 3rem;
  }

  .seven-dots {
    position: relative;
    left: calc(2.7783vw + 4px);
    top: 3px;
    background: url('/images/deco/desktop/seven_dots.svg') no-repeat;
    background-size: contain;
    width: 12.1527vw;
    height: 12.1527vw;
  }

  .tn1 {
    grid-area: 1 / 2 / 2 / 4;
    width: 66.666vw;
    height: 38.75vw;
  }

  .tn2 {
    grid-area: 2 / 1 / 3 / 2;
    width: 32vw;
    margin-top: 20%;
  }

  .center-shape {
    position: relative;
    grid-area: 2 / 2 / 3 / 3;
    width: 35vw;
    background:
      url('/images/deco/desktop/image-geometry_work-center.svg')
      no-repeat;
    background-size: contain;
    top: 4px;
    right: 0;
  }

  .tn3 {
    position: relative;
    grid-area: 3 / 1 / 4 / 2;
    width: 169%;
    height: 133%;
    top: -39%;
  }

  .tn4 {
    position: relative;
    grid-area: 3 / 3 / 4 / 4;
    left: -36%;
    top: 60%;
  }

  .tn5 {
    position: relative;
    grid-area: 2 / 3 / 3 / 4;
    width: 32vw;
    margin-top: 55%;
    z-index: 1;
  }

  .tn6 {
    position: relative;
    grid-area: 2 / 3 / 3 / 4;
    top: 4px;
    width: 32vw;
  }

  /*** Thumbnail Show-Hide ***/

  .show-hide {
    position: absolute;
    display: none;
  }

  /* .work-container:hover .show-hide {
    display: block;
  } */
}
