*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.body-container {
  position: relative;
}

/* Header */
header {
  position: relative;
}

/* nav-bar */
header > .nav-bar {
  display: flex;
  width: 100%;
  height: fit-content;
  justify-content: space-between;
}

.logo {
  width: fit-content;
  height: fit-content;
}

.img-1 {
  position: absolute;
  width: 75px;
  height: 75px;
  background: linear-gradient(
    to right bottom,
    #fec25a 50%,
    rgba(255, 255, 255, 0) 50%
  );
}

.img-2 {
  position: relative;
  width: 53px;
  height: 53px;
  background: #e35461;
  transform: rotate(45deg);
  top: 10px;
  left: 50px;
}

/* Display Menu Button */

.menu-button-container {
  display: flex;
  position: relative;
  width: 37px;
  height: 37px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background: #292929;
  position: absolute;
  width: 20px;
  height: 2px;
  top: 25px;
  border-radius: 3px;
  cursor: pointer;
}

.menu-button::before {
  content: '';
  top: -6px;
  left: 0;
}

.menu-button::after {
  content: '';
  top: 6px;
  left: 0;
}

/* Headline */

.headline-container {
  position: absolute;
  top: 104px;
  padding: 16px;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
}

.playfair {
  font-family: 'Playfair Display', serif;
}

.headline-title {
  max-width: 220px;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 100%;
  margin-bottom: 9px;
}

.poppins {
  font-family: 'Poppins', sans-serif;
}

.headline-paragraph {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.01em;
  color: #1a2236;
  margin: 15px 0;
}

.start-colaboration {
  font-family: 'Poppins', sans-serif;
  margin: 15px 0;
  border-style: none;
  height: 50px;
  color: #fff;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  background: #1a2236;
  cursor: pointer;
}
