*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  max-width: 768px;
  min-width: 298px;
  height: 100%;
  position: static;
}

/* Header */
header {
  width: 100%;
}

/***************** nav-bar ****************/
header > .nav-bar {
  display: flex;
  width: 100%;
  height: fit-content;
  justify-content: space-between;
}

.logo {
  width: fit-content;
  height: fit-content;
}

.img-1 {
  position: absolute;
  width: 75px;
  height: 75px;
  background: linear-gradient(
    to right bottom,
    #fec25a 50%,
    rgba(255, 255, 255, 0) 50%
  );
}

.img-2 {
  position: relative;
  width: 53px;
  height: 53px;
  background: #e35461;
  transform: rotate(45deg);
  top: 10px;
  left: 50px;
}

/* Display Menu Button */

.menu-button-container {
  display: flex;
  position: relative;
  width: 37px;
  height: 37px;
  margin-right: 15px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background: #292929;
  position: absolute;
  width: 20px;
  height: 2px;
  top: 25px;
  border-radius: 3px;
  cursor: pointer;
}

.menu-button::before {
  content: '';
  top: -6px;
  left: 0;
}

.menu-button::after {
  content: '';
  top: 6px;
  left: 0;
}

/*************** Start Main Secction *****************/

main {
  position: relative;
  margin: 30px 0;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
}

/* Headline */

.headline-container {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 18px;
}

/* Headline-title font */
.playfair {
  font-family: 'Playfair Display', serif;
  font-size: 2rem;
}

/* ----------------- */

.headline-title {
  max-width: 220px;
  font-size: 3rem;
  font-weight: 400;
  line-height: 100%;
  margin-bottom: 9px;
}

/* Headline paragraph font */
.poppins {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 21px;
}

.headline-paragraph {
  letter-spacing: -0.01em;
  color: #1a2236;
  margin: 15px 0;
}

.start-colaboration {
  align-self: center;
  margin: 15px 0;
  border-style: none;
  width: 100%;
  height: 60px;
  color: #fff;
  font-style: normal;
  font-weight: 500;
  font-size: 1.2rem;
  text-align: center;
  background: #1a2236;
  cursor: pointer;
}

.start-colaboration:hover {
  color: #1a2236;
  background-color: #fff;
  border: 2px solid gray;
}

.start-colaboration:active {
  background-color: #fff;
  border-color: #1a2236;
  color: #1a2236;
}

/*********** Work Section ************/

.work-container {
  display: grid;
  width: 100%;
  height: fit-content;
  grid-template-rows: repeat(7, auto);
}

.shapes-design-container {
  margin: 15px 0;
  width: 100%;
  max-width: 450px;
  min-height: 53.333vw;
  max-height: 148px;
  background: url('/images/image_geometry_2.svg') no-repeat;
  background-size: contain;
}

.section-title {
  font-size: 3rem;
  margin: 18px 0;
}

.work-title {
  top: 66%;
  margin: 0 18px 30px 18px;
}

.tumbnail-container {
  display: flex;
  flex-direction: column;
  top: calc(66vw + 1rem);
  height: fit-content;
  background-color: #1a2236;
}

.thum-img {
  width: 100%;
}

.thum-title {
  margin: 18px;
  font-size: 1.5rem;
  color: white;
  font-weight: lighter;
}

.thum-langs-container {
  display: flex;
  list-style: none;
  margin-inline: 18px;
}

.thum-lang {
  padding: 3px 9px;
  margin-right: 12px;
  background-color: #98dede;
  border-style: none;
}

.button-link {
  width: fit-content;
}

button {
  color: white;
  background-color: #1a2236;
  border: 2px solid white;
  cursor: pointer;
}

button:hover {
  background-color: white;
  color: #1a2236;
  border: 2px solid #1a2236;
}

button:active {
  background-color: #fff;
  border-color: gray;
  color: #1a2236;
}

.see-project {
  width: fit-content;
  margin: 24px 18px;
  padding: 9px 30px;
  font-size: 1rem;
}

/*************** About section ****************/

.about-container {
  display: grid;
  margin: 0;
  padding: 18px;
}

.getCv-button {
  border-style: none;
  padding-block: 18px;
  margin: 24px 0;
  border: 2px solid #1a2236;
  font-size: 1.2rem;
}

.fas {
  margin-left: 18px;
}

.cards-list {
  list-style: none;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-block: 18px;
  padding: 60px 0 0 60px;
  color: white;
}

.about-card-title {
  font-size: 1.62rem;
  font-weight: bolder;
  margin-block: 18px 54px;
}

.about-card-list {
  font-size: 1.35rem;
  font-weight: 600;
  line-height: 36px;
  list-style: inside circle;
  list-style-type: disc;
  margin-bottom: 60px;
}

.languages {
  background: #1c528a;
}

.l {
  margin-bottom: 90px;
}

.lang-cont {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 110px;
  max-width: 40%;
  height: 110px;
  background: url('/images/lang.svg') no-repeat;
  background-size: contain;
  opacity: 0.6;
}

.frameworks {
  background: #e2505c;
}

.frame-cont {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 110px;
  max-width: 35%;
  height: 110px;
  background: url('/images/Frameworks.svg') no-repeat;
  background-size: contain;
  opacity: 0.6;
}

.skills {
  background: #febf52;
}

.skills-cont {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 135px;
  max-width: 35%;
  height: 135px;
  background: url('/images/ic_skills.svg') no-repeat;
  background-size: contain;
  opacity: 0.6;
}

footer {
  background-color: #1a2236;
  width: 100%;
  padding: 18px;
}

.start-link {
  display: inline-block;
  margin-block: 18px;
  font-size: 1rem;
  text-decoration: none;
  color: #92dcdc;
}

.up-right-from-square {
  position: relative;
  top: 6px;
  left: 18px;
  display: inline-block;
  width: 24px;
  height: 24px;
}

svg {
  color: #92dcdc;
}

.social-icons-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 18px 0;
  margin-bottom: 18px;
  list-style: none;
}

.fa {
  color: white;
}

.fa-linkedin {
  color: #1a2236;
  background-color: white;
  padding: 3px 4px;
}

.m {
  position: relative;
  top: 6px;
  width: 30px;
  height: 30px;
  background: url('/images/M.svg') no-repeat;
  background-size: contain;
}

.pnl {
  width: 30px;
  height: 30px;
  background: url('/images/peace-n-love.svg') no-repeat;
  background-size: contain;
}
